.contenedor {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #444;
}

button.activo {
  background: #0055ff;
  color: white;
  font-weight: bold;
}

button.active {
  background-color: #0d6efd !important;
  color: white !important;
}
